<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    // Ref: https://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables
    this.page.url = '{{ site.url }}{{ page.url }}'; // Please note that an absolute URL is required for the this.page.url variable. Using a relative URL for this variable may prevent Disqus from loading successfully on the page.
    this.page.identifier = '{{ page.id }}';
};

var disqus_identifier = '{{ site.disqus_shortname }}';

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://' + disqus_identifier + '.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            